TEST_DB_NAME=dbname_test
DB_USER=username
DB_PASS=password
DB_PORT=5432
DB_HOST=127.0.0.1
DB_DIALECT=postgres

DATABASE_URL=postgres://username:password@host:5432/dbname

PORT=8080
SESSION_KEY=sessiokey
CLIENT_ID=clientid
CLIENT_SECRET=clientsecret
REDIRECT_URL=http://localhost:8080/callback
OPEN_ID_DOMAIN_URL=https://YOUR_DOMAIN/
OPEN_ID_DOMAIN=YOUR_DOMAIN

APP_ENV=develop

AFRICAS_TALKING_CALLBACK_URL=https://api.sandbox.africastalking.com/version1/messaging
AFRICAS_TALKING_CALLBACK_RESOURCE=/version1/messaging
AFRICAS_TALKING_API_KEY=key
AFRICAS_TALKING_USERNAME=sandbox
AFRICAS_TALKING_SENDER_ID=id